<div class="top-banner" [@changeHeight]="currentHeaderState">
  <div class="top-banner__text-wrapper">
    <div class="overlay">
      <h1 class="header">Decision Support System</h1>
      <h2 class="sub-header">
        Selecting the Optimum Structure System <br>
        of Solar Energy based on Value Engineering Concept
      </h2>
      <button *ngIf="currentHeaderState==='original'"
              mat-raised-button color="accent"
              @buttonLeave
              (click)="currentHeaderState='small'">Start!
      </button>
    </div>
  </div>
</div>

<form (ngSubmit)="onFindBestOptions()" class="input-form">
  <mat-form-field>
    <mat-label>Area (m^2)</mat-label>
    <input matInput type="number" placeholder="Area (m^2)" name="needed_area_m2" [(ngModel)]="needed_area_m2">
    <mat-hint class="hint">Exact match or less Area.</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Energy (kWh)</mat-label>
    <input matInput type="number" placeholder="Energy (kWh)" name="needed_energy" [(ngModel)]="needed_energy">
    <mat-hint class="hint">Exact match or more energy.</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Number of Alternatives</mat-label>
    <input matInput type="number" placeholder="Number of Alternatives" name="numOfAlternatives"
           [(ngModel)]="numOfAlternatives">
  </mat-form-field>

  <button mat-raised-button
          color="primary"
          [disabled]="!needed_area_m2 && !needed_energy">Find Best Options
  </button>
</form>

<div class="extra-actions" *ngIf="dataSource.data.length > 0">
  <button mat-raised-button
          color="accent"
          (click)="sortByHighestEnergyLessWeight()">Sort by Highest Energy and Less Weight
  </button>
  <button mat-raised-button
          color="accent"
          (click)="sortByHighestEnergyLessWeight('weight')">Sort by Less Weight and Highest Energy
  </button>
</div>

<div [ngStyle]="{ margin: '0 24px' }" [hidden]="dataSource.data.length === 0">
  <h3>Best structural systems dimension, weight and power calculations
    ( <b>{{ dataSource.data.length }}</b> Options available): </h3>

  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="system">
      <th mat-header-cell *matHeaderCellDef>System No.</th>
      <td mat-cell *matCellDef="let element">{{ element.option.system }}</td>
    </ng-container>
    <ng-container matColumnDef="id_main">
      <th mat-header-cell *matHeaderCellDef>ID Main</th>
      <td mat-cell *matCellDef="let element">{{ element.option.id_main }}</td>
    </ng-container>
    <ng-container matColumnDef="id_sub">
      <th mat-header-cell *matHeaderCellDef>ID Sub</th>
      <td mat-cell *matCellDef="let element">{{ element.option.id_sub }}</td>
    </ng-container>
    <ng-container matColumnDef="span">
      <th mat-header-cell *matHeaderCellDef>Span</th>
      <td mat-cell *matCellDef="let element">{{ element.option.span }}</td>
    </ng-container>
    <ng-container matColumnDef="dimension_x">
      <th mat-header-cell *matHeaderCellDef>Dimension X</th>
      <td mat-cell *matCellDef="let element">{{ element.option.dimension_x }}</td>
    </ng-container>
    <ng-container matColumnDef="dimension_y">
      <th mat-header-cell *matHeaderCellDef>Dimension Y</th>
      <td mat-cell *matCellDef="let element">{{ element.option.dimension_y }}</td>
    </ng-container>
    <ng-container matColumnDef="area_m2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Area (m^2)</th>
      <td mat-cell *matCellDef="let element">{{ element.option.area_m2 }}</td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight (Kg)</th>
      <td mat-cell *matCellDef="let element">{{ element.option.weight }}</td>
    </ng-container>
    <ng-container matColumnDef="no_solar_panel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No. of Solar Panels</th>
      <td mat-cell *matCellDef="let element">{{ element.option.no_solar_panel }}</td>
    </ng-container>
    <ng-container matColumnDef="energy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Energy (kWh)</th>
      <td mat-cell *matCellDef="let element">{{ element.option.energy }}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty. Structure System</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>
    <ng-container matColumnDef="difference_area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Difference Area (m^2)</th>
      <td mat-cell *matCellDef="let element">{{ element.difference_area ?? '--' }}</td>
    </ng-container>
    <ng-container matColumnDef="difference_energy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Difference Energy (kWh)</th>
      <td mat-cell *matCellDef="let element">{{ element.difference_energy ?? '--' }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="dataSource.data.length === 0" class="no-data">
    No options found.
  </div>
</div>


