.mat-column-quantity,
.mat-column-difference_area,
.mat-column-difference_energy {
  color: darkblue;
}

.mat-column-energy {
  border-right: 2px solid #ccc;
}

mat-form-field {
  margin-right: 16px;
}

.header {
  font-size: 32px;
  font-weight: bold;
}

.sub-header {
  justify-content: start;
}

.input-form {
  margin: 16px;
}

.extra-actions {
  button {
    margin: 16px;
  }
}

.overlay {
  padding: 16px;
  margin: -20px;
  background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
}

.top-banner__text-wrapper {
  width: 100%;
}

/* CSS for the banner */
.top-banner {
  width: 100%;
  height: 200px;
  background-image: url('/assets/bg.solar.jpg');
  background-color: #9575cd;
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background image */
  padding: 20px;
  box-sizing: border-box; /* Include padding in the width */
  text-align: center; /* Center text horizontally */
  color: white; /* Text color */

  display: flex; /* Use flexbox to center vertically */
  justify-content: center; /* Center content horizontal */
  align-items: center; /* Center content vertically */
}

.hint {
  color: #616161;
}
